.fondo{
    background-color: black;
}


/* Header de index */ 

.cajaLogo{
    height: 15rem;

}

.logo {
    
    object-fit: contain;
    padding-top: 2rem;
    
}

.cajaTitulo {
    height: 5rem;
    
    
}

.titulo {

    font-family: 'Dela Gothic One', sans-serif;
    text-align: center;      
}

.cajaSubtitulo {
    height: 5rem;
}


/* Main de index */

.mainIndex{
    display: grid;
    justify-items: center;
    height: 15rem;
    margin-top: 2rem;
    
}

.seccionesMain {
    text-align: center;
    font-family: 'Dela Gothic One', sans-serif;
    border: solid  black;
}

.hover:hover {
    background-color: white ;
}

/*footer de index*/

.footerIndex {
    height: 25rem;
    padding-top: 5rem;
    

}

.redes {
    object-fit: contain;
}